/** @format */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.LoginForm {
  border: 1px gray solid;
  border-radius: 5px;
  width: 400px;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.LoginForm .header {
  background-color: gray;
  height: 60px;
  color: white;
  font-size: 24px;
  text-align: center;
  line-height: 60px;
}

.LoginForm .Body {
  height: 100px;
}

.LoginForm .userloginLabel {
  color: darkblue;
}

.LoginForm .loginButtonDiv {
  position: absolute;
  bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-bottom: 20px;
}

.LoginForm button {
  background: darkred;
  border: 0;
  color: white;

  border-radius: 6px;
  padding: 10px;
}

.LoginForm button:disabled,
button[disabled] {
  background: gray;
}

.LoginForm button:hover {
  background: rgb(156, 53, 53);
  border: 0;
  color: white;

  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
}

.avater {
  height: 24px;
  width: 24px;
  border-radius: 50px;
}

.userdetails {
  background: darkblue;
}

.main-container {
  display: flex;
}

.UnAnswered {
  width: 100px;
  border-bottom: 1px solid red;
  background: darksalmon;
  padding: 15px;
  font-weight: bold;
  cursor: pointer;
}

.Answered {
  width: 100px;
  border-bottom: 1px solid green;
  background: lightgreen;
  padding: 15px;
  font-weight: bold;
  cursor: pointer;
}

.questionListStyle {
  border: 1px gray solid;
  padding: 10px;
}

.questionDiv {
  border: 1px gray solid;

  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 10px;
}

.QuestionHeader {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  height: 20px;
  font-weight: bold;
  background: lightgray;
  line-height: 20px;
  padding: 10px;
  text-align: left;
  border-bottom: gray 1px solid;
}

.questionAvater {
  height: 128px;
  width: 128px;
  align-items: flex-start;
}

.questionBody {
  display: flex;
}

.questionBodyContent {
  padding: 10px;
  width: 100%;
  text-align: left;
  border-left: gray 1px solid;
}
.questionBodyContent P {
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

.questionBodyContent button {
  background: darkseagreen;
  border: 0;
  color: white;

  border-radius: 6px;
  padding: 5px;
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
}

.questionBodyContent button:hover {
  background: green;
}

.questionBodyContent button:active {
  background: rgb(72, 153, 72);
}

.PollAnswer {
  border: 1px solid green;
  background: #bcd4be;
  border-radius: 10px;
  margin: 10px;
  position: relative;

  padding: 10px;
}

.voateBar {
  text-align: center;
  font-weight: bold;
}

.PollAnswer progress {
  width: 100%;
  height: 40px;
}

.voteIcon {
  color: rgb(219, 71, 12);
  border: 1px solid black;
  background: cornsilk;
  position: absolute;
  top: -20px;
  right: -20px;
  border-radius: 50%;
  padding: 10px;
  font-size: 10px;
}

.newQuestionContainer {
  border-radius: 10px;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  border: 1px gray solid;
  padding-bottom: 15px;
}

.newQuestionContainer .header {
  background: lightgray;
  font-size: 30px;
}

.newQuestionContainer input {
  width: 400px;
}

.leaderContiners {
  width: 500px;
  border: 1px gray solid;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
}

.leaderContiners .avaterlb {
  width: 128px;
  height: 128px;
  border-radius: 50%;
}

.leaderBoardDetails {
  border-left: 1px solid lightgray;

  border-right: 1px solid lightgray;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
}

.score {
  border: 1px solid lightgray;
  margin: 10px;
  width: 130px;
  margin-left: auto;
}

.ScoreHeader {
  height: 30px;
  background: lightgray;
}

.scoreBody {
  background: #bcd4be;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: auto;
}

.detailsLine {
  display: flex;
}

.detailsLine-score {
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}
